body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   /* full screen height */
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.Mainn {

    background-color: hsl(0, 0%, 12%);
    border-radius: 0.75rem;
    padding: 2rem;
    text-align: center;
    width: 300px;
    max-width: 90%;
    /* justify-content: center;
    align-items: center; */
}
h2{
    color: hsl(75, 94%, 57%);
    font-size: 0.9rem;
}

.Mainn img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

.Mainn h1 {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.Mainn p {
    color: hsl(0, 0%, 70%);
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.Mainn ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Mainn li {
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin: 0.5rem 0;
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s;
}
footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: gray;
}


